go 1.24.0

use (
	./services/gateway
	./services/presence
	./services/shared
// ./services/class
// ./services/event
)

replace github.com/adrputra/face-recognition-svc/shared v0.0.1 => ./services/shared
