version: '3.8'

services:
  face-recognition-svc:
    image: ${DOCKER_USERNAME}/${SERVICE_NAME}:latest
    ports:
      - "8001:8001"
    environment:
      - PORT=8001
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
    networks:
      - main-dev

networks:
  main-dev:
    external: true

